<h1 mat-dailog-title>Add employee</h1>
<div mat-dailog-content>
   <form [formGroup] ="productFrom">
    <mat-form-field appearance="outline">
      <mat-label>Employee name</mat-label>
      <input formControlName="productName" matInput placeholder="Name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Select</mat-label>
      <mat-select formControlName="category">
        <mat-option value="Fresher">Fresher</mat-option>
        <mat-option value="Experienced">Experienced </mat-option>
      </mat-select>
    </mat-form-field>
     <label for=""><h1>Job role</h1></label>
    <mat-radio-group formControlName="fruit"  class="example-radio-group">
      <mat-radio-button *ngFor="let fresh of list"[value]="fresh" class="example-radio-button">
        {{fresh}}
      </mat-radio-button>
    </mat-radio-group>
    <mat-form-field appearance="outline">
      <mat-label>Date of Birth</mat-label>
      <input formControlName="date" matInput [matDatepicker]="picker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

   </form>

</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close="">close</button>
  <button mat-raised-button color="primary" (click)="addproduct()">{{actionBtn}}</button>
</div>
